#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-bar {
  padding: 0.75rem;
  margin: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 15rem;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
}

.search-button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.65rem;

  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.25rem;
  cursor: pointer;
}


/* makes everything in this div side by side */
.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  margin: 0rem;
}

.create-post-button {
  background-color: #d4d4d4;
  border: none;
  padding: 0.65rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.create-post-button:hover {
  /* makes background color pastel green */
  background-color: #b3ffb3;
  color: black;
}



/* makes each card fit dynamically in a grid */
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* makes image larger when clicked once and smaller when clicked again*/
.post-image {
  width: 100%;
  height: 100%;
  max-width: 50rem;
  object-fit: cover;
}

.post-image:active {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}




.post {
  display: flex;
  width: 15rem;
  max-height: 35rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: .5rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 0.25rem;
  margin: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.post-title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0rem;
  margin: 0rem;
  margin-bottom: 0rem;
}

.post-date {
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  padding: 0rem;
  margin: 0rem;
  margin-bottom: 0rem;
}

.post-info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
  margin: 0rem;
}

.upvote-button {
  border: none;
  padding: 0.65rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.25rem;
  cursor: pointer;
}

.upvote-button:hover {
  /* makes background color pastel green */
  background-color: #b3ffb3;
  color: black;
}

.downvote-button {
  border: none;
  padding: 0.65rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.25rem;
  cursor: pointer;
}

.downvote-button:hover {
  /* makes background color pastel grey */
  background-color: #e6e6e6;
  color: black;
}


.card {
  padding: 2em;
}

.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  height: 100%;
  max-width: 15rem;
  object-fit: cover;
}

.card-image:hover {
  transform: scale(1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.comment-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 50rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.comment-text {
  padding: 0rem;
  margin: 0rem;
}

.comment-input {
  width: 100%;
  height: 100%;
  max-width: 49rem;
  object-fit: cover;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  padding-top: 1rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.create-post-field {
  width: 100%;
  height: 100%;
  width: 30rem;
  padding: 0.5rem;
  margin: .5rem;
  object-fit: cover;
}

.read-the-docs {
  color: #888;
}
